<!DOCTYPE html>
<html>
<head>
  
  <title> 
    404 | Page not found
  </title>
  
  <%- include ("../mainpages/pagesetup.ejs") %>
  
  <link rel="stylesheet"  href="/stylesheets/404notfound.css" /> 
</head>

<body>

  <div class="cont_principal" >
    <div class="cont_error" >
      
    <h1>404</h1>   
      <a>PAGE NOT FOUND</a> <br>  <br>
      <a href="/"> <img src="/images/title_logo.png" style="height: 75px"></a>
      </div>
   
    </div>

<script>
  
window.onload = function(){
  document.querySelector('.cont_principal').className= "cont_principal cont_error_active";  
    
  }
</script>




</body>
</html>