<!DOCTYPE html>
<html>
<head>
  
  <title> 
    TEST FOR DATA
  </title>
  <%- include ("../mainpages/pagesetup.ejs") %>

 
  <link rel="stylesheet"  href="/stylesheets/backgroundtest.css" /> 

</head>

<body>

  <meta name="viewport" content="width=device-width, initial-scale=1">

<div class="card">
    <p>Country: XX WAITING FOR DB XX</p> 
    <div class="part2"><img src="/images/Brandenburgertor.png" alt="Avatar" style="width:100%">
  
    <h4>GDP: XXWAITING FOR DB XX <br> 
        Einwohnerzahl: XX WAITING FOR DB XX</h4> 
    <h4>John Doe</h4> 
    </div>
</div>


</body>





</html>