<!DOCTYPE html>
<html lang="de">
  
<head>

  
 <!-- unser Stylesheet -->
 <link rel="stylesheet"  href="/stylesheets/pageforcountry.css" /> 
 
<!-- Bootstrap Stylesheet für Buttons-->
 <link rel="stylesheet" href="/stylesheets/bootstrap.css">

   

  
 
 


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title> 
    Frankreich | mapoftheworld
  </title>
  
 
  <%- include ("../mainpages/pagesetup.ejs") %>
  




  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>-->

  
  
      
 
</head>




<body>

  
  
    <div class="infoslider">
      <marquee width="2000px" direction="left" height="22px" style="Background: rgba(0, 0, 0, 0.466); color: white;" onmouseover="this.stop();" onmouseout="this.start();">
         <%- include ("../infoslider/infofrance.txt") %>
        </marquee>
      </div>



<div class="RESTALLBODY">

<div class="blog-post">
    <div class="blog-post__img">
        <img src="images/france_pic.png" alt=" Eifeltower_Paris">
    </div>

    <div class="blog-post__info">
      
        <div class="blog-post__date">
          
            <span>EU</span>
            <span>MEMBER</span>
            </div>

<h1 class="blog-post__title">Frankreich</hl>
<table class="blog-post__text">

<tr>
  <td>Hauptstadt:</td>
  <td> XX DATA CAPITAL XX </td>
</tr>

<tr>
  <td>Einwohnerzahl:</td>
  <td> XX DATA Population XX</td>
</tr>

<tr>
  <td>Landessprache:</td>
  <td> XX DATA Population XX </td>
</tr>

<tr>
  <td>Landesfläche: </td>
  <td> XX DATA Countryarea XX </td>
</tr> 
 
<tr>
  <td>Zahlungsmittel:</td>
  <td> XX DATA Currency XX </td>
</tr>

<tr>
  <td>Hauptstadt: &nbsp; </td>
  <td> XX DATA unemployment rate XX </td>
</tr>

<tr>
  <td>Landesflagge:  &nbsp;&nbsp; &nbsp;</td>
  <td> <a href="https://www.diplomatie.gouv.fr/" target=”_blank”>
    <img src="/images/france_flag.png" alt="flag FR" style="height:25px" >  
  </a>
   </td>
</tr>





</table>

<a href="/countries/france" class="btn btn-outline-dark" role="button" aria-pressed="true">Zur Visualisierung</a>


</div>

</div>

</div>

<script src="js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>


</body>

</html> 