<!DOCTYPE html>
<html lang="de">

    <head>
     
        
       
        
        <!-- unser Stylesheet -->
        <link rel="stylesheet"  href="/stylesheets/GPGcss.css" />

      
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">



        <title> 
          Gender Pay Gap | map of the world
        </title>


        <%- include pagesetup.ejs %>

      </head>


      <body>

        
        
          
<div class="BODY2">






<div class="card">
    

 


    <div class="part2">
    
      <div class="chart">
        <%- include GPGjs.ejs %>
      </div>
    
     
    <div class="chart2">
      <div class="button1">
        <a  onclick="" href="/erklaerungen/whatisgpg"><span>Was ist GPG?</span></a>
      </div>
      
      <div class="button2">
        <a  onclick=" " href="/laender"><span>Länderpage </span></a>
      </div>
    </div>
    </div>
    
    
      <h4></h4> 
    
    </div>
</div>
</div>


      </body>






    
</html>