<!DOCTYPE html>
<html lang="de">

    <head>
  
        <title> 
          Information | map of the world
        </title>
       
        <% include pagesetup.ejs %>
        
        <link rel="stylesheet"  href="/stylesheets/pagebackground.css" />
        <link rel="stylesheet"  href="/stylesheets/information.css" /> 
      </head>

      <body>

        <!-- CODE HIER  -->
      <div class="bodycard" href="/">
       <div class="card" >
         <div class="content" >
           <h1>INFORMATION</h1> 
           <p>Diese Webseite wurde von <br><br>
            Utku Cakir <i> (Matrikelnr.: 100726)</i><br> 
            Jehona Nuhiu <i>(Matrikelnr.: 100746) </i><br> Mielad Hashimi <i>(Matrikelnr.: 100650)</i><br>
            Luca Velardi <i>(Matrikelnr.: 100731) </i>
             
            <br> <br>

             als Semesterprojekt für die Module: <br><br> Anwendung Digitale Technologien <i>(LV: 1000003)</i>,  <br> Big Data in der Praxis <i>(LV: 1000010)</i> und <br> Visual Business Intelligence and Information Design <i>(LV: 1000113)</i><br><br> im Wintersemester 2021/22 entwickelt. <br><br><br>

            Die Webseite stellt allgemeine Daten/Informationen aus verschiedenen Ländern bereit, welches für die Zielgruppe der Schüler: innen und Interessierte konzipiert wurde. Zusätzlich zu den Informationen des gewählten Landes, bietet die Website auch Visualisierungen zu verschiedenen Statistiken des entsprechenden Landes, außerdem noch Vergleiche mit anderen Nationen. 
            
            <br><br>

            Die Seite wurde mit Hilfe verschiedenen Tools/Skriptsprachen gestaltet und entwickelt, die Daten wurden von Wikidata gesammelt und in die mongoDB Datanbank gespeichert. Die Visualisierungen wurden mit D3 (JS) erstellt. Die Gestaltung der Website erfolgte standardmäßig mit HTML5 und CSS, sowie JavaScript.
            <p>

             <div class="alllogos">
              <div class="mongoDBlogo">
                <a href="https://www.mongodb.com/" target=”_blank”>
                  <img src="/images/mongoDBlogo.png" alt="mongoDB Logo" width="150" height="40" >  
              </a>

              <div class="d3logo">
                <a href="https://d3js.org/" target=”_blank”>
                  <img src="/images/d3logo.png" alt="d2 Logo" width="40" height="40" >  
              </a>

              <div class="htmllogo">
                <a href="/404" target=”_blank”>
                  <img src="/images/htmllogo.png" alt="html Logo" width="40" height="40" >  
              </a>

              <div class="csslogo">
                <a href="/404" target=”_blank”>
                  <img src="/images/csslogo.png" alt="css Logo" width="30" height="40" >  
              </a>

              <div class="JSlogo">
                <a href="https://www.javascript.com/" target=”_blank”>
                  <img src="/images/JSlogo.png" alt="JS Logo" width="40" height="40" >  
              </a>

              <div class="wikidatalogo">
                <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page" target=”_blank”>
                  <img src="/images/wikidatalogo.png" alt="WD Logo" width="55" height="40" >  
              </a>

            </div>

         </div>
       </div>
      </div>

      

      </body>







</html>