<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <table>
                <ul>
                    <% console.log("") %>
                    
                    <tr>
                        <td>Sprache:</td>
                        <td><%-JSON.stringify(land.Landesfläche) %></td>
                        
                        
                    </tr>
                
                </ul>
    
        </table>
    </body>
</html>

