<!DOCTYPE html>
<html lang="de">

    <head>
  
        <title> 
          GPG kurz erklärt | map of the world
        </title>
       
        <%- include pagesetup.ejs %>
        
        <link rel="stylesheet"  href="/stylesheets/pagebackground.css" />
        <link rel="stylesheet"  href="/stylesheets/information.css" /> 
      </head>

      <body>

        <!-- CODE HIER  -->
      <div class="bodycard" href="/">
       <div class="card" >
         <div class="content" >
           <h1>Gender Pay Gap - kurz erklärt:</h1> 
           <p>
             
            <br> <br>

            Der Gender Pay Gap ist der Verdienstunterschied zwischen Männern und Frauen. Er zeigt durch statistische Berechnungen auf, dass Frauen für ihre Arbeit schlechter entlohnt werden als Männer.<br><br>
            <p>

             <div class="alllogos">
              <div class="mongoDBlogo">
                <a href="https://www.bmfsfj.de/resource/blob/93658/c1757c72aacc7f34f2d0e96d5414aee2/entgeltungleichheit-dossier-data.pdf" target=”_blank”>
                  <img src="/images/gpg_pic.jpeg" alt="GPG Logo" width="50" height="50" >  
              </a>

              
            </div>

         </div>
       </div>
      </div>

      

      </body>







</html>