*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html {
  position: relative;
  min-height: 100%;
  font-size: 15px;
  
}

nav.navbar {
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.459);
    position: fixed;
    z-index: 98;
    top: 0;
    padding: 28px 35px;
    font-family: "Helvetica", sans-serif ;
    backdrop-filter: blur(9px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
   
}

div.mainlogonavbar {
  position: fixed;
  z-index: 99;
  
  left: 10px; 
  top: 10px;
  /*right: 100px; top: 10px; */
}

/*body {
  height: 100vh;
  /*background-image: url("/images/background_pic2.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 138, 230, 0.486); 
  margin-bottom: 50px;
} 
*/





.navbar ul {
    list-style: none;
    
}

.navbar li {
    display: inline-block;
}

.navbar li a{

    margin-left: 40px;
}

.navbar a{
  color: white;
  letter-spacing: 2px; 
  text-decoration: none;
}


/* Ab hier das Dropdown Button im Navbar */

.navbar {
  overflow: hidden;
  background-color: #333;
}


/* .navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */ 




.btn-boot {
  height: 50px;
  width: 150px;
  background: rgba(255, 255, 255, 0); /* Transparentefarbe von Weiß */
  margin: 20px;
  float: none;
  border: 0px;
  color: #fff;
  box-shadow: 0 0 1px #ccc;
  
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 0 0 rgb(15, 127, 155) inset , 0px 0px 0 0 rgb(15, 127, 155)  inset;
}

.btn-boot:hover{
  -webkit-box-shadow: 75px 0px 0 0 #78a9c2 inset , -75px 0px 0 0 #78a9c2 inset;
} 



/*  andere Kombination für die Buttons am Navbar
.btn-boot {
  height: 50px;
  width: 150px;
  
  margin: 20px;
  float: none;
  border:0px;
  color:#fff;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  box-shadow:0px 0 0 #31708f  inset;
}

.btn-boot:hover{
  box-shadow:100px 0 0 #31708f inset;
}

*/





.dropdown .dropbtn {
  font-size: 160px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 56px;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(206, 206, 206);
}

.dropdown-content {
  display: none;
  position: absolute;
  
  background-color: #f9f9f959;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: rgb(128, 128, 128);
  
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}







/* Ab hier kommen die Backgorund Images, welches sich nach Refresh/Neuaufruf der Website verändert */ 
body.Foto1{
  background:url(/images/background_pic1.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic1.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic1.png', sizingMethod='scale')";
}
body.Foto2{
  background:url(/images/background_pic2.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic2.png',sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic2.png', sizingMethod='scale')";

} 
body.Foto3{
background:url(/images/background_pic3.png);
background-repeat:no-repeat;
background-position: center center;
background-size:cover;
-webkit-background-size: cover;
-moz-background-size:cover;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic3.png',sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic3.png', sizingMethod='scale')";

} 

body.Foto4{
background:url(/images/background_pic4.png);
background-repeat:no-repeat;
background-position: center center;
background-size:cover;
-webkit-background-size: cover;
-moz-background-size:cover;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic4.png',sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background_pic4.png', sizingMethod='scale')";

} 


/* ENDE background dynamisches background pics */ 


.toggle-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}


.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}







/* ab hier kommt die "media" Query, welches die responsible bzw. behavior angibt */
@media (max-width: 900px) {

  .toggle-button {
      display: flex;
  }

  .btn-boot {
    display: none;  
     width: 100%;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .btn-boot ul {
      width: 100%;
      flex-direction: column;
  }

  .btn-boot li{
      text-align: center;
  }

  .btn-boot li a{
      padding: .5rem 1rem;
      
  }

  .btn-boot.active {
      display: flex;
  }



} 












/* footer Anfang */ 
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  background-color:whitesmoke;
  font-family: Helvetica;
}

.container {
 margin-right: auto;
 margin-left: auto;
 margin-top: 5px;
 padding-right: 50px;
 padding-left: 50px;
 background-color: #f5f5f5;
 text-align: center;
}

.container:before {
  display: table;
  content: " ";
}

.container:after {
  display: table;
  content: " ";
  clear: both;
} 

/* div.footerpicture{
  position: fixed;
  background-size: auto;
  left: 350px; top: 880px;
} */

.btnimprint {
  height: 20px;
  width: 100px;
  background: rgba(255, 255, 255, 0); /* Transparentefarbe von Weiß */
  margin: 0px;
  float: none;
  border: 0px;
  color: black;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 0 0 rgb(15, 127, 155) inset , 0px 0px 0 0 rgb(15, 127, 155)  inset;
}

.btnimprint:hover{
  -webkit-box-shadow: 75px 0px 0 0 #78a9c2 inset , -75px 0px 0 0 #78a9c2 inset;
} 


/*footer Ende */ 
